
     <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/admin/adminhome" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>ADMIN PANEL</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    {{!-- <div class="position-relative">
                        <img class="rounded-circle" src="/adminassets/img/user.jpg" alt=""
                            style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div> --}}
                    <div class="ms-3">
                        <h6 class="mb-0">Deepak T S</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="adminhome" class="nav-item nav-link" id="dash"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/admin/vieworder"class="nav-item nav-link" id="orders"><i class="fa fa-th me-2"></i>Orders</a>
                    <div class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle nav-item" id="category" data-bs-toggle="dropdown"><i
                              class="fa fa-laptop me-2" id="items"></i>Category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/viewcategory" class="dropdown-item" >View Categories</a>
                            <a href="/admin/addcategory" class="dropdown-item">Add Categories</a>
                            {{!-- <a href="element.html" class="dropdown-item">Other Elements</a> --}}
                        </div>
                    </div>
                     <div class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle nav-item" id="users" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>Users</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/userdisplay" class="dropdown-item">View users</a>
                            <a href="/admin/adduser" class="dropdown-item">Add user</a>
                            {{!-- <a href="element.html" class="dropdown-item">Other Elements</a> --}}
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle nav-item" id="products" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>Products</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/viewproduct" class="dropdown-item">View Products</a>
                            <a href="/admin/addproduct" class="dropdown-item">Add Products</a>
                            {{!-- <a href="element.html" class="dropdown-item">Other Elements</a> --}}
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle nav-item" id="coupon" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>Coupon</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/viewcoupon" class="dropdown-item">View Coupon</a>
                            <a href="/admin/addcoupon" class="dropdown-item">Add Coupon</a>
                            {{!-- <a href="element.html" class="dropdown-item">Other Elements</a> --}}
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle nav-item" id="banner" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>Banner</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/viewbanner" class="dropdown-item">View Banners</a>
                            <a href="/admin/addbanner" class="dropdown-item">Add Banner</a>
                            
                        </div>
                    </div>
                </div>

              
                </div>
        </div>
        </nav>
    </div>
    <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                   
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">

                            <span class="d-none d-lg-inline-flex">Deepak T S</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="/admin/signout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->







