

        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/">Home</a></li>
                                    <li class="is-marked">

                                        <a href="">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">Hello, John Doe</span>
                                           <ul class="dash__f-list">
                                                {{!-- <li>

                                                    <a href="dashboard.html">Manage My Account</a></li> --}}
                                                <li>

                                                    <a href="/myprofile">My Profile</a></li>
                                                <li>

                                                    <a href="/addressbook">Address Book</a></li>
                                                {{!-- <li>

                                                    <a href="dash-track-order.html">Track Order</a></li> --}}
                                                <li>

                                                    <a class="dash-active" href="/myorders">My Orders</a></li>
                                                {{!-- <li>

                                                    <a href="dash-payment-option.html">My Payment Options</a></li> --}}
                                                {{!-- <li>

                                                    <a href="dash-cancellation.html">My Returns & Cancellations</a></li> --}}
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">Edit Profile</h1>

                                            <span class="dash__text u-s-m-b-30">Looks like you haven't update your profile</span>
                                            <div class="row">
                                                {{#with userData}}
                                                <div class="col-lg-12">
                                                    <form class="dash-edit-p">
                                                        <div class="gl-inline">
                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="reg-fname">FIRST NAME</label>

                                                                <input class="input-text input-text--primary-style" type="text" id="reg-fname" name="username" value="{{username}}"></div>
                                                        </div>
                                                        <div class="gl-inline">
                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="reg-fname">PHONE</label>

                                                                <input class="input-text input-text--primary-style" name="phone" type="text" id="reg-fname" value="{{phone}}"></div>
                                                        </div>
                                                        {{!-- <div class="gl-inline">
                                                            <div class="u-s-m-b-30">

                                                                <!--====== Date of Birth Select-Box ======-->

                                                                <span class="gl-label">BIRTHDAY</span>
                                                                <div class="gl-dob"><select class="select-box select-box--primary-style">
                                                                        <option selected>Month</option>
                                                                        <option value="male">January</option>
                                                                        <option value="male">February</option>
                                                                        <option value="male">March</option>
                                                                        <option value="male">April</option>
                                                                    </select><select class="select-box select-box--primary-style">
                                                                        <option selected>Day</option>
                                                                        <option value="01">01</option>
                                                                        <option value="02">02</option>
                                                                        <option value="03">03</option>
                                                                        <option value="04">04</option>
                                                                    </select><select class="select-box select-box--primary-style">
                                                                        <option selected>Year</option>
                                                                        <option value="1991">1991</option>
                                                                        <option value="1992">1992</option>
                                                                        <option value="1993">1993</option>
                                                                        <option value="1994">1994</option>
                                                                    </select></div>
                                                                <!--====== End - Date of Birth Select-Box ======-->
                                                            </div>
                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="gender">GENDER</label><select class="select-box select-box--primary-style u-w-100" id="gender">
                                                                    <option selected>Select</option>
                                                                    <option value="male">Male</option>
                                                                    <option value="male">Female</option>
                                                                </select></div>
                                                        </div> --}}
                                                        <div class="gl-inline">
                                                            <div class="u-s-m-b-30">
                                                                <h2 class="dash__h2 u-s-m-b-8">E-mail</h2>

                                                                <span class="dash__text">{{email}}</span>
                                                                <div class="dash__link dash__link--secondary">

                                                                    <a href="/verify">Change</a></div>
                                                            </div>
                                                            <div class="u-s-m-b-30">
                                                                <h2 class="dash__h2 u-s-m-b-8">Phone</h2>

                                                                <span class="dash__text">{{phone}}</span>
                                                                <div class="dash__link dash__link--secondary">

                                                            </div>
                                                        </div>

                                                        <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>
                                                    </form>
                                                </div>
                                                {{/with}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
